$font-family-default: 'Catamaran', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$color: (
  primary: #f3f3f3,
  secondary: #554E8F,
  border: #f5f3f3,
  white: #ffffff,
  black: #080808,
  content-text: #999999,
  gray-text: #929292
);
$font-size: (
  sm: 12,
  md: 14,
  lg: 16,
  xl: 30
);
$font-icon: (
  icon-add: "\e900",
  icon-all: "\e901",
  icon-planning: "\e902",
  icon-completed: "\e903",
  icon-remove: "\e904",
  icon-list: "\e905",
  icon-alls: "\e906",
  icon-close: "\e907",
  icon-trash: "\e908",
)
