.page-header {
  @include pxRem(height, 96);
  @include pxRem(font-size, map-get($font-size, sm));
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  font-weight: 700;
  color: map-get($color, black);
  background: map-get($color, white);
  &::after {
    @include pxRem(height, 96);
    content: '';
  }
  a {
    color: map-get($color, white);
  }
  .container {
    height: 100%;
    position: relative;
  }
  .page-header-inner,
  .header-item-left,
  .header-item-right {
    @extend %flex-between;
  }
  .header-item-left,
  .header-item-right {
    height: 100%;
  }
  .header-item-center {
    @extend %flex-center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .nav-menu {
    .nav-menu-item {
      @include pxRem(padding, 0 22);
    }
  }
  .logo {
    @include pxRem(width, 106);
  }
}
